.place__url-heading {
  text-transform: uppercase;
  margin: 0 0 12px 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #AAA;
  
  }

 
  @media screen and (max-width: 767px) {

    .place__url-heading {
    margin-left: 16px;
    }
  }

